<h1>Productos</h1>

    {{#each this}}
        <p><strong>ID:</strong> {{id}}</p>
        <p><strong>Title:</strong> {{this.title}}</p>
        <p><strong>Precio:</strong> {{this.price}}</p>
        <hr>
    {{/each}}